@model string
@{ ViewBag.Title = "Create Role";}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h3>Create Role</h3>
        @Html.ValidationSummary(true)
        @using (Html.BeginForm())
        {
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Name</label>
                    @Html.TextBox("name", Model, new { @class = "form-control", placeholder = "Name" })
                    <p class="help-block text-danger">@Html.ValidationMessage("Model")</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="form-group col-xs-12">
                    <button type="submit" class="btn btn-primary">Create</button>
                    @Html.ActionLink("Cancel", "Roles", null, new { @class = "btn btn-default" })
                </div>
            </div>
        }
    </div>
</div>