@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>Questionnaire</p>
        <p>Likert scale will be used for assessment: Strongly agree &rarr; Strongly Disagree </p>
        <p>Size of company:</p>
        <ul>
            <li>micro (fewer than 10 employees and an annual turnover (the amount of money taken in a particular period) or balance sheet (a statement of a company's assets and liabilities) below €2 million.)</li>
            <li>small (fewer than 50 employees and an annual turnover or balance sheet below €10 million)</li>
            <li>medium-sized enterprise (fewer than 250 employees and annual turnover below €50 million or balance sheet below €43 million)</li>
            <li>large enterprise</li>
        </ul>
        <br />
    </div>
</div>
