@model SectionViewModel
@{ 
    int i = 0, j = 0;
}

@foreach (var item in Model.Sections)
{
    <tr>
        <td>@item.Name</td>
    </tr>
    <tr>
        <td>
            <ol>
                @foreach (var question in Model.Questions.Where(x => x.SectionId == item.Id))
                {
                    <li>
                        @question.Value<br />
                        <div class="btn-group" data-toggle="buttons">
                            @foreach (var likertItem in Model.LikertItems)
                            {
                                <label class="btn btn-default">
                                    <input type="radio" name="Answers[@(i)][@(j)]" value="@likertItem.Id" /> @likertItem.Value
                                </label>
                            }
                        </div>
                    </li>
                    j++;
                }
            </ol>
        </td>
    </tr>
    i++;
    j = 0;
}
