
@{
    ViewBag.Title = "Register";
}

<div class="well">
    <h3>
        <strong>Register</strong>
        <span class="pull-right label label-primary">re</span>
    </h3>
    <span class="lead"> 1</span>
</div>